*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Carousel */
.carousel-item{
  height: 70vh;
}
/* Footer */
.footContainer{
  padding: 15px 50px;
}
.follow-section-a{
  display: flex;
  align-items: center;
  width: 400px;
  justify-content: space-between;
}
.icons i{
  margin-left: 10px;
  font-size: 1.6rem;
}
/* section b */
.follow-section-b{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.country{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 10%;
  line-height: 0.70;
}

.helpful-links{
  width: 90%;
}